<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header :: header"></th:block>

<body>

<div th:replace="fragments/headMenu :: headMenu"/>

<div class="container">
    <div class="starter-template">
        <h2>
            <span>Hello </span>
            <span th:text="${user.getFirstName()}"></span>
            <span> </span>
            <span th:text="${user.getLastName()}"></span>
        </h2>
    </div>

    <div>
        <span>Your account balance is $</span><span th:text="${user.getBalance()}"></span>
        <br/>
        <a th:href="@{/user/account/deposit}">Make a Deposit</a>
        <br/>
        <a th:href="@{/user/account/withdraw}">Make a Withdrawal</a>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>